


/* #region header */





/* #endregion header */

/* #region hero */

.hero {
    background-color: #2e2f42;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px; 
    margin: 0 auto;    
}
section.hero {
    display: flex;
      flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 600px;
         background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/people-office.jpg");
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    background-repeat: no-repeat;
    background-clip: padding-box;
    text-align: center;
    max-width: 1440px; 
    margin: 0 auto;
}
   
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
   
}
.hero-btn {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
     min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin-right: auto;
    margin-left: auto;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}
/* #endregion hero */
/* #region features */
.features-section {
padding-top: 120px;
padding-bottom: 120px;
}


.features-list {
display: flex;
padding-top: 50px;
padding-bottom: 50px;
gap: 24px;
width: calc(100% - (3 * 24px) / 4);
}
.features-list-item {
width: 264px;}

.features-icon {
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
margin: 0 auto 16px;
box-sizing: border-box;
overflow: hidden;
margin-bottom: 8px;
}


.features-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.features-list-item-description {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* #endregion features */
/* #region ourteam */
.our-team {
    background: #f4f4fd;
    display: flex;
        align-items: center;
        padding-top: 120px;
        padding-bottom: 120px;
        
}
.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;

}
.our-team-list {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    padding-left: 0;
        margin: 0;
    width: calc(100% - (3 * 24px) / 4);
}
.our-team-list-item {
background-color: #FFFFFF;
border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;

}

.caption {
display: flex;
align-items: center;
flex-direction: column;
padding: 32px 0 32px;

}
.our-team-h {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    }
.our-team-text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.svg-social-media-list {
    display: flex;
    justify-content: center;
    align-content: space-between;
   gap: 24px;

}

.svg-social-media-conteiner {
    background-color: #4d5ae5;
    
    border-radius: 50%;
    justify-content: space-between;
    margin-top: 8px;
    
}
.svg-social-media-action {
    display: flex;
    
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.svg-social-media {
position: relative;
    top: 0%;
    left: 0%;
    transform: none;
    fill: #f4f4fd;
}
.svg-social-media-action:hover {
background-color: #404bbf
}
.svg-social-media-action:focus {
background-color: #404bbf}
/* #endregion ourteam */
/* #region our portfolio */
.our-portfolio {
display: flex;
align-items: center;
padding: 120px 0;
}
.our-portfolio-title {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}
.our-portfolio-list {
    
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 48px 24px;
padding-left: 0;
    margin: 0;
}
.our-portfolio-list-item {
    position: relative;
background-color: #FFFFFF;
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image-caption {
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 32px 16px;
}
.overlay-text {
    position: absolute;
    padding: 40px 32px;
    bottom: 0;
    left: 0;
    background-color:#4d5ae5;
    color: #f4f4fd;
    width: 100%; 
    height: 100%; 
    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1; 
    padding: 40px 32px;
}

.overlay-portfolio-list {
    position: relative;
    display: block;
    overflow: hidden;
}
.img-portfolio {
    position: relative;
    display: block;
    overflow: hidden;
}
    
.img-portfolio img {
    display: block;
    width: 100%;
    height: auto;
}

.our-portfolio-list-item:hover .overlay-text,
.our-portfolio-list-item:focus .overlay-text {
    transform: translateY(0); 
}

.overlay-text {
    color: #f4f4fd;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.our-portfolio-list-item:hover,
.our-portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
.our-portfolio-h {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
margin-bottom: 8px;
}
.our-portfolio-text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}
/* #endregion our portfolio */
/* #region footer */
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
    height: 312px;
}
.footer.container {
    margin-right: 120px
}
.page-footer-content {
display: flex;
align-items: baseline;
justify-content: space-between;
 max-width: 1158px;
 margin: 0 auto;

}

.page-footer .logo {
display:inline-block;
margin-bottom: 16px;
}
footer .logo-span {
    color: #f4f4fd;
    }
.page-footer-text {
    display: flex;
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}
.footer-social {
margin-left: 120px;
margin-right: 120px;
}
.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
   letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.svg-social-icon {
    fill: #f4f4fd;
    
   }
   .footer-subscribe {
display: flex;
flex-direction: column;
align-items: center;
margin-left: 80px;
}
.form-footer {
display: flex;
gap: 24px;
}
   .form-footer-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.subscribe-inpud {
    font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin-right: 24px;
    padding-left: 16px;
    background-color: transparent;
}
.subscribe-inpud::placeholder {
    color: #ffffff;
}
.subscribe-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}
.subscribe-icon {
    fill: #fff;
    margin-left: 16px;
}
/* #endregion footer */
/* #region modal */
.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
   
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}

.modal-close-btn:hover svg,
.modal-close-btn:focus svg {
    fill: #ffffff;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}



.modal-fild {
margin-bottom: 8px;
}
.form-user-label {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;
}
.form-user-icon {display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
    padding: 3px 0px;
        width: 18px;
        height: 24px;
}
.div-user {
position: relative;
}
.modal-field {
margin-bottom: 8px;
}
.form-user-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}
.form-user-icon {
position: absolute;
    left: 16px;
    top: 50%;
    fill: #2e2f42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-user-input:hover,
.form-user-input:focus {
border-color: #4d5ae5;
}

.form-user-input:focus + .form-user-icon {
    fill: #4D5AE5;
    }
    
.modal-textarea-field {
    margin-bottom: 16px;
}
.modal-textarea {
    resize: none;
    width: 100%;
    height: 120px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:hover,
.modal-textarea:focus {
    border-color: #4d5ae5;
}
.modal-label::placeholder {
font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
   .castum-checkbox {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 16px;
    height: 16px;
    fill: transparent;
border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-bottom: 8px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-checkbox-type:checked+ .modal-label-checkbox .castum-checkbox {
background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.modal-label-checkbox {
font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-label-checkbox a {
line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.modal-checkbox {
margin-bottom: 24px;
}
.form-btn-submit{
min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    border-radius: 4px;
    padding: 16px 32px;
    border: transparent;
    background-color: #4d5ae5;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn-submit:hover,
.form-btn-submit:focus {
    background-color: #404bbf;
}
/* #endregion modal */ 